body {
    margin: 0;
    font-family: Arial;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    min-height: 100vh;
    gap: 10px;
}

.header {
    grid-area: header;
    background: #d38895;
    padding: 20px;
    color: white;
}

.sidebar {
    grid-area: sidebar;
    background: #aedcda;
    padding: 20px;
    color: white;
}

.content {
    grid-area: content;
    background: #f1f1f1;
    padding: 20px;
}

.footer {
    grid-area: footer;
    background: #dec990;
    padding: 20px;
    color: white;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "content"
            "footer"
            "sidebar";
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;

}

.gallery img:hover {
    transform: scale(1.05);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 10px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.sidebar a:hover {
    text-decoration: underline;
    color: blue;
}