body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 0.3s;
}

header {
    background-color: var(--accent-color);
    color: #f4f4f4;
    min-height: 50px;
    background-color: #da8ee7;
    display: flex;
    justify-content: space-between;
    padding: 10px;


}

.sidebar {
    background-color: var(--card-color);
    position-area: left;
    background-color: #da8ee7;
}

main {
    background-color: var(--card-color);
}

footer {
    background-color: var(--accent-color);
    color: white;
    background-color: #da8ee7;
    min-height: 50px;
}

:root {
    --bg-color: #ffffff;
    --text-color: #222222;
    --accent-color: #670943;
    --card-color: #f4f4f4;
}

/* Dark theme variables */
[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #ffffff;
    --accent-color: #ff6b81;
    --card-color: #1e1e1e;
}

.themeToggle {
    padding: 8px, 15px;
    cursor: pointer;
}